body {
  background: white;
  color: white;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.message {
  background: transparent;
  max-width: 24rem;
  margin: 6rem auto 1rem;
  padding: 2rem 1.5rem 1rem;
  text-align: center;
}
.message h2 {
  color: #2196f3;
  font-weight: bold;
  font-size: 4rem;
  margin: 0 0 0.5rem;
  text-align: center;
}
.message h1 {font-size: 2rem;
  font-weight: 300;
  color: rgba(0,0,0,0.6);
  margin: 0 0 1rem;
  text-align: center;
}
.message p {
  line-height: 140%;
  margin: 1rem 0 1.5rem;
  font-size: 1rem;
  color: rgba(0,0,0,0.6);
  text-align: center;
}
.message button {
  outline-width: 0rem;
  background-color: #2196f3;
  border-radius: 1rem;
  color: white;
  border: none;
  border-style: solid; border-color: transparent; text-align: center; text-decoration: none; padding-top: 1rem; padding-bottom: 1rem; padding-left: 5rem; padding-right: 5rem; font-size: 1rem; cursor: pointer; display: inline-block;}
.message button:hover { -webkit-box-shadow: 0px 0px 0.5rem 0px rgba(143,143,143,1); -moz-box-shadow: 0px 0px 0.5rem 0px rgba(143,143,143,1); box-shadow: 0px 0px 0.5rem 0px rgba(143,143,143,1); }
.message button:active { background-color: #2196f3; }
.message a { color: #2196f3; text-decoration: none; font-size: 1rem;}
html {
  font-size: 15px;
}
